#include "keys_nb.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hold_tap_layer: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        hold_tap_kp: hold_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        a_qMark: a_qMark {
            compatible = "zmk,behavior-tap-dance";
            label = "A_QMARK";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp NB_A_RING>, <&kp NB_QMARK>;
        };

        hold_longerTap: hold_longerTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_LONGERTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base_Layer {
            bindings = <
&hold_tap_kp TAB ESC  &kp Q  &kp W  &kp E  &kp R                              &kp T                    &kp Y                     &kp U                        &kp I         &kp O          &kp P           &a_qMark
&kp LEFT_SHIFT        &kp A  &kp S  &kp D  &kp F                              &kp G                    &kp H                     &kp J                        &kp K         &kp L          &kp NB_O_SLASH  &kp NB_AE
&kp LCTRL             &kp Z  &kp X  &kp C  &kp V                              &kp B                    &kp N                     &kp M                        &kp NB_COMMA  &kp NB_PERIOD  &kp SLASH       &hold_tap_kp LS(NON_US_HASH) NON_US_HASH
                                           &hold_longerTap LEFT_ALT LEFT_WIN  &hold_tap_layer 1 SPACE  &hold_tap_kp LSHFT ENTER  &hold_tap_layer 2 BACKSPACE
            >;
        };

        Symbols_Numpad {
            bindings = <
&kp GRAVE             &kp LS(N1)                &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans      &kp LS(N0)  &kp DEL
&kp LEFT_SHIFT        &kp LS(N6)                &kp LS(NUMBER_7)  &kp RA(NUMBER_2)  &kp LS(N8)        &kp LS(N9)        &kp KP_N4  &kp KP_N5  &kp KP_N6  &trans      &trans      &kp RIGHT_BRACKET
&kp NON_US_BACKSLASH  &kp LS(NON_US_BACKSLASH)  &kp RA(N8)        &kp RA(N9)        &kp RA(N7)        &kp RA(N0)        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp PERIOD  &trans      &kp EQUAL
                                                                                    &trans            &trans            &kp KP_N0  &trans
            >;
        };

        Functions {
            bindings = <
&kp TAB  &kp F1        &kp F2          &kp F3             &kp F4            &kp F5  &kp F6   &kp F7    &kp F8    &kp F9     &kp F10  &trans
&trans   &trans        &kp C_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &trans  &kp INS  &kp HOME  &kp UP    &kp END    &trans   &trans
&trans   &kp LEFT_ALT  &kp C_PREVIOUS  &kp C_NEXT         &kp C_PLAY_PAUSE  &trans  &trans   &kp LEFT  &kp DOWN  &kp RIGHT  &trans   &trans
                                                          &trans            &trans  &trans   &trans
            >;
        };
    };
};
